http_ca.crt
credentials.json
venv
arxiv-metadata-oai-snapshot.json
*.pyc
train.json
*.pdf
*.npz
*.txt
*.dict
*.pkl
*.model
*.model.id2word
*.model.state
*.model.expElogbeta.npy
__pycache__
!requirements.txt
